$header-color: #00838F;
$nav-color: rgb(12, 193, 209);
$active-nav-color: rgb(19, 166, 177);
$accent-color: #FF9100;
$hover-color: #BDBDBD;
$accent-purple-color: #AA00FF;
$accent-purple-dark-color: #D500F9;
$accent-purple-light-color: #AA60FF;