.ticker-list {
  list-style: none;
  padding-left: 0;
  width: 80vw;
  margin: auto;
  margin-top: 20px;
}

.ticker-card {
  font-family: 'Lato', sans-serif;
  font-size: 25px;
  display: grid;
  width: 60%;
  margin: auto;
  grid-template-columns: 20fr 20fr 20fr;
  span {
    margin-right: 10px;
  }
  margin-bottom: 15px;
}

.loading-anim {
  .line {
      display: inline-block;
      width: 15px;
      height: 15px;
      border-radius: 15px;
      background-color: #4b9cdb;
  }
  .line:nth-last-child(1) {animation: loading 1.5s 1s infinite;}
  .line:nth-last-child(2) {animation: loading 1.5s .5s infinite;}
  .line:nth-last-child(3) {animation: loading 1.5s 0s infinite;}
}

@keyframes loading {
    0% {height: 15px;}
    50% {height: 35px;}
    100% {height: 15px;}
}

