@import "colors";
@import "search-bar";

.ticker-list {
  list-style: none;
  padding-left: 0;
  width: 80vw;
  margin: auto;
  margin-top: 20px;
}

.ticker-list-header {
  margin-top: 15px;
  @extend .search-label;
  font-family: "Lato", sans-serif;
}

.ticker-card {
  font-family: "Lato", sans-serif;
  font-size: 25px;
  display: grid;
  height: 60px;
  margin: auto;
  margin-bottom: 5px;
  grid-template-columns: 20fr 20fr 20fr;
  column-gap: 20px;
  background-color: #e0f7fa;
  border: #b2ebf2 2px solid;
  span {
    display: flex;
    justify-content: center;
    align-self: center;
  }
  .red700 {
    color: #d32f2f;
  }
  .material-icons {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-self: center;
    font-size: 30px;
  }

  .ticker-delete {
    span {
      margin-right: 15px;
    }
  }
}


.loading-anim {
  .line {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: $header-color;
  }
  .line:nth-last-child(1) {
    animation: loading 1.5s 1s infinite;
  }
  .line:nth-last-child(2) {
    animation: loading 1.5s 0.5s infinite;
  }
  .line:nth-last-child(3) {
    animation: loading 1.5s 0s infinite;
  }
}

@keyframes loading {
  0% {
    height: 15px;
  }
  50% {
    height: 35px;
  }
  100% {
    height: 15px;
  }
}
