header {
  h1 {
    font-size: 35px;
    font-family: "Arvo", serif;
    display: flex;
    justify-content: center;
    background-color: $header-color;
    color: white;
    @media screen and (min-width: 768px) {
      font-size: 45px;
      justify-content: flex-start;
    }
    padding: 10px;
    margin: 0;
  }
}
