
@import "colors";
@import "header";
@import "footer";

body {
  background-color: #ffffff;
  height: 100vh;
  position: relative;
  min-height: 100vh;
  width: 100%;
}

main {
  min-height: 100vh;
  margin-bottom: 50px;
}